.fade-enter-active {
  animation: cart_notification_in 100ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  transition: cart_notification_out 100ms ease-in-out;
}

.overview-cart {
  top: 0;
  right: 0;
  position: fixed;
  will-change: transform, opacity;
}
.overview-cart-enter {
  transform: translateX(100%);
}
.overview-cart-enter-active {
  transform: translateX(0%);
  transition:
    opacity 500ms,
    transform 500ms;
}
.overview-cart-exit {
  opacity: 1;
  transform: translateX(0%);
}
.overview-cart-exit-active {
  opacity: (0);
  transform: translateX(100%);
  transition:
    opacity 500ms,
    transform 500ms;

}

.fade-in {
  animation: fade-in 0.4s forwards;
}

/* SLIDE RIGHT */
.select-location-enter {
  transform: translateY(-100%);
  /* transform: scale(0); */
  opacity: 0;
}
.select-location-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition: transform 1s;
}
.select-location-exit {
  transform: translateY(0%);
}
.select-location-exit-active {
  transform: translateY(-100%);
  transition: transform 1s;
}

/* SLIDE DOWN */
.slide-down-enter {
  transform: translateY(-100%);
  opacity: 0;
}
.slide-down-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition: transform 1s;
}
.slide-down-exit {
  opacity: 1;
  transform: translateY(0%);
}
.slide-down-exit-active {
  transform: translateY(-80%);
  transition: transform 1s;
}

/* SLIDE UP */
.slide-up {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.slide-up-enter {
  transform: translateY(100%);
  opacity: 0;
}
.slide-up-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition: transform 0.5s;
}
.slide-up-exit {
  transform: translateY(0%);
}
.slide-up-exit-active {
  transform: translateY(100%);
  transition: transform 0.5s;
}

/* SUGGEST SIZE */
.suggest-size-enter {
  transform: translate(100%, 100%);
  /* transform: scale(0); */
  opacity: 0;
}
.suggest-size-enter-active {
  transform: translate(0%, 0%);
  opacity: 1;
  transition: transform 0.5s;
}
.suggest-size-exit {
  transform: translate(0%, 0%);
}
.suggest-size-exit-active {
  transform: translate(100%, 100%);
  transition: transform 0.5s;
}

.image-banner {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.show-up-to-down {
  animation: show-up-to-down 0.5s forwards;
}




.gradient-icon {

  background: linear-gradient(45deg, #4267B2, #00c6ff);

}
@keyframes show-up-to-down {
  0% {
    transform-origin: top;
    transform:scaleY(0);
  }
  100% {
    transform-origin: top;
    transform: scaleY(1);
  }
}

/* SHOW DOWN TO UP */
.show-down-to-up {
  animation: show-down-to-up 0.5s forwards;
}
@keyframes show-down-to-up {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: scale(1); /* Resets the size to normal */

    transform: translateY(0%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 50;
  }
}
@keyframes overview-cart-enter {
  0% {
    /* opacity: 0; */
    transform: translateX(100%);
  }
  100% {
    /* opacity: 100; */
    transform: translateX(0%);
  }
}
.overview-cart-out {
  animation: overview-cart-out 2s forwards;
}
@keyframes overview-cart-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    /* opacity: 0; */
    transform: translateX(100%);

    /* transform: opacity(1); */
  }
}

@keyframes cart_notification_in {
  0% {
    transform: translateX(280px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes cart_notification_out {
  0% {
    transform: translateX(0px) rotate(30deg);
  }
  100% {
    transform: translateX(280px);
  }
}
