@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: "FontThin";
  src: url("/assets/fonts/base_thin.otf") format("opentype");
}
@font-face {
  font-family: "FontThinItalic";
  src: url("/assets/fonts/base_thin_italic.otf") format("opentype");
}

@font-face {
  font-family: "FontRegularItalic";
  src: url("/assets/fonts/base_regular_italic.otf") format("opentype");
}
@font-face {
  font-family: "FontRegular";
  src: url("/assets/fonts/base_regular.otf") format("opentype");
}

html {
  display: inline-block;
  box-sizing: border-box;
  font-size: 62.5%
}

@layer utilities {
  .arrow {
    width: 6px;
    height: 6px;
    border-left: 6px solid white;
    border-top: 6px solid white;
  }
  .text {
    font-size: 40px;
    color: red;
  }
  .hover:hover {
    cursor: pointer;
    background-color: #4f4f4f;
  }
  .line {
    border-top: 1px;
    border-color: #4f4f4f;
    width: 100%;
  }
  .header-font {
    /* font-family: 'Freight Text Pro', sans-serif; */
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .content-font {
    /* font-family: 'Freight Text Pro', sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .parent:hover .child {
    display: flex;
    transform: translate3d(0, 0, 0);
    animation: exit_bottom_to_top 0.5s ease-in-out;
  }
  .cart_list {
    display: relative;
  }
  .cart_list:hover .child {
    display: flex;
    animation: cart_list 0.3s ease-in-out;
  }

  .cart_list::before {
    content: ".";
    padding: 20px 10px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .child {
    display: none;
  }
  .navbar_link_exit {
    animation: identifier 0.2s ease-in-out;
  }
  .title {
    font-size: 16px;
    color: #231f20;
    font-weight: 700;
  }

  .button_hover {
    transition: background-color 0.5s ease;
  }
  .cart_notification {
    animation: cart_notification_in 0.3s ease-in-out;
  }
 

  
  @layer flex {
    .col_center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .row_center {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}



.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-to-down {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes scale-left-to-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes scale-right-to-left {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}

.chat-room {
  background-color: rgb(40, 37, 53);
  height: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

::-webkit-scrollbar {
  width: 6px; /* Chiều rộng cho thanh cuộn dọc */
  height: 6px; /* Chiều cao cho thanh cuộn ngang */
}

/* Định nghĩa phần nền của thanh cuộn */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 12px;
}

/* Định nghĩa phần tay cầm của thanh cuộn */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Thay đổi màu sắc của tay cầm khi hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 6px;
}

.form_chat-box {
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  height: 3rem;
}

.form_chat-box-button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}

.input_chat-box {
  width: 100%;
  font-size: 1rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 6px;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

.message_chat-box {
  max-width: 500px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  margin-bottom: 12px;

  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.img_chat-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.navbar__category__icon:hover .category {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: -28px;
  background: #212121;
  padding: 2rem 1rem;
  border-radius: 0.2rem;
  width: 14rem;
  animation: scale  -up-to-down 0.3s ease-in-out;
  box-shadow: #231f20;
}
.navbar__category__icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: -28px;
  width: 4rem;
  height: 200px;
}
.left-to-right {
  animation: scale-left-to-right 0.4s ease-in-out;
}
.right-to-left {
  animation: scale-right-to-left 0.4s ease-in-out;
}

.category::before {
  content: "";
  position: absolute;
  top: -60px;
  padding: 30px 60px;
  left: 40%;
  transform: translateX(-50%)
}


.marquee {
  position: relative;
  background: #fbe2dd; /* Màu nền chủ đạo */
  color: #fff;
  padding: 30px;
  font-size: 18px;
  height: 20px;
  overflow: hidden;
}

.marquee div {
  color: #222222;
  display: inline-block;
  white-space: nowrap; /* Đảm bảo văn bản không bị ngắt dòng */
  padding-right: 100px; /* Khoảng cách padding giữa các phần tử */
  will-change: transform;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(80%); /* Bắt đầu từ ngoài cùng bên phải */
  }
  100% {
    transform: translateX(-80%); /* Kết thúc ngoài cùng bên trái */
  }
}
.navbar {
  animation: show-up-to-down 0.5s ease-in-out;
}

@keyframes show-up-to-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: scale(1); /* Resets the size to normal */

    transform: translateY(0%);
  }
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.text-container {
  display: inline-block;
  position: relative;
}
.text-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;

  width: 0;
  background-color: black;
  transition: all 0.3s ease;
}
.text-container:hover .text-highlight {
  width: 100%;
}

/* input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--thumb-color);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background: var(--thumb-color);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
} */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: purple; /* Purple thumb color */
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background: purple;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.table_in {
  animation: table-in 0.5s ease-in-out;
}
.table_out {
  animation: table-out 0.5s ease-in-out;
}

@keyframes table-out {
  0% {
    opacity: (100%);
    transform: translateY(0%);
  }
  100% {
    opacity: (0%);
    transform: translateY(80%);
  }
}

@keyframes table-in {
  0% {
    opacity: (0%);
    transform: translateY(80%);
  }
  100% {
    opacity: (100%);
    transform: translateY(0%);
  }
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 300ms,
    transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 300ms,
    transform 300ms;
}

.input {  
  outline: none;
  background: #e8e8e8;
  box-shadow:
    1px 1px 6 px #c8c8c8,
    -1px -1px 6 px #ffffff;
  border: none;
  border-radius: 2px;
  transition: all 0.5s;
}

.input:focus {
  background: #e8e8e8;
  box-shadow:
    inset 5px 5px 17px #c8c8c8,
    inset -5px -5px 17px #ffffff;
}



.input-location {
  border: 1px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}



/* .input-location:active {
  transform: scale(0.95);
} */

.input-location:focus {
  box-shadow: 10px 10px 4px -10px;
  /* box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.4); */
  /* border: 2px solid grey; */
}

.custom-prev-button, 
.custom-next-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.custom-bullet {
  width: 16px;
  height: 16px;
  background-color: #702272;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.custom-bullet.swiper-pagination-bullet-active {
  background-color: #FF5722;
  transform: scale(1.2);
}
